<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
<connectionStrings>
    <add name="cadenaConexion" connectionString="Data Source=JOSUE-PC\SQLEXPRESS;Initial Catalog=ReviewSoft;User Id=sa;Password=Benjamin6ir0n3;" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <defaultDocument>
            <files>
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
